
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"><img src="/assets/mock-moment-images/moments.png" height="50px" style="font-weight: bold;" alt=""> Moments</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navPositioning " id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link aCor"  routerLink="/">Home</a>
              </li>
          <li class="nav-item">
            <a class="nav-link aCor"  routerLink="/about">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link aCor" routerLink="moments/new">Compartilhar</a>
          </li>
       
        </ul>
      </div>
    </div>
  </nav>
<!-- <nav>
    <a class="brand" routerLink="/">
        <img src="/assets/mock-moment-images/moments.png" alt="">
        <h2>Moments</h2>
    </a>
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">Sobre</a></li>
        <li id="add"><a routerLink="/moments/new">Compartilhar</a></li>

    </ul>
</nav> -->