.aCor {
    color: #444;
    transition: .4s;
}

.aCor:hover, .aCor:focus {
    color: #f6ff00;
    border-bottom:solid 2px  #f6ff00; 
    font-weight: bold;
}

.navbarStyle {
    border-bottom: solid 1px black;
}

