.buttonStyle {
    width: 140px;


    background-color: gray;
    color: white;
    box-shadow:2px 2px 4px black;
    outline: inherit;
    border: inherit;
    
}



.buttonStyle:hover, .buttonStyle:focus, .buttonStyle:active, .buttonStyle:visited    {
    background-color: rgba(32, 32, 32, 0.795) !important;
    color: white;
    box-shadow:2px 2px 4px black !important; 
    outline:2px solid gray !important;
   
   
}

.validation-error {
    color: red;
    border-left: solid 3px red;
    
}

.form-label {
    font-weight: bold;
}

.inputText {
    transition: 1s;
    outline: inherit;
    border: inherit;
}

.inputText:hover, .inputText:active,input:focus {
    
    
    box-shadow:2px 2px 4px black !important; 
    outline:2px solid gray !important;
   
}

textarea {
    transition: 1s;
    outline: inherit;
    border: inherit;
}

textarea:hover, textarea:active, textarea:focus {
    
    
    box-shadow:2px 2px 4px black !important; 
    outline:2px solid gray !important;
   
   
    
}

.inputFile {
    transition: 1s;
    outline: inherit;
    border: inherit;
    
}

.inputFile:hover, .inputFile:focus, .inputFile:active{
    
    box-shadow:2px 2px 4px black !important; 
    outline:2px solid gray !important;
}

